:root {
    /* Colors */
    --brand: #fff41a;
    --brand-15: #fffbb2;
    --brand-25: #fff980;
    --brand-30: #fff766;
    --brand-35: #fff64d;
    --brand-40: #fff533;
    --brand-45: #fff41a;
    --brand-50: #fff200;
    --brand-55: #e5da00;
    --brand-60: #e5da00;
    --brand-65: #b2aa00;
    --green: #1aff48;
    --red: #ff571a;
    --grey-3: #f8f8f7;
    --grey-5: #f3f3f2;
    --grey-7: #eeeeec;
    --grey-10: #e7e7e4;
    --grey-15: #dbdad7;
    --grey-20: #cfcec9;
    --grey-25: #c2c2bc;
    --grey-30: #b6b6af;
    --grey-35: #aaaaa1;
    --grey-40: #9e9e94;
    --grey-45: #929187;
    --grey-50: #868579;
    --grey-55: #78786d;
    --grey-60: #6b6b61;
    --grey-65: #5e5d55;
    --grey-70: #505049;
    --grey-75: #43433d;
    --grey-80: #363530;
    --grey-85: #282824;
    --grey-87: #23231f;
    --grey-90: #1b1b18;
    --grey-92: #151513;
    --grey-95: #0d0d0c;
    --grey-5-50: rgba(243, 243, 242, 0.5);
    --grey-95-50: rgba(13, 13, 12, 0.5);

    /* Radii */
    --radius-s: 0.25rem;
    --radius-m: 0.5rem;
    --radius-l: 0.75rem;
    --radius-xl: 1rem;
    --radius-round: 50%;

    /* Font size Modular scale*/
    --typescale-1: 0.75rem;
    --typescale-2: 0.875rem;
    --typescale-3: 1rem;
    --typescale-4: 1.125rem;
    --typescale-5: 1.25rem;
    --typescale-6: 1.5rem;
    --typescale-7: 1.75rem;
    --typescale-8: 2rem;
    --typescale-9: 2.25rem;
    --typescale-10: 2.625rem;
    --typescale-11: 3rem;
    --typescale-12: 3.375rem;
    --typescale-13: 3.75rem;
    --typescale-14: 4.25rem;
    --typescale-15: 4.75rem;

    /* Whitespace */
    --baseline: 0.5rem;
    --spacing-01: 0.125rem;
    --spacing-02: 0.25rem;
    --spacing-03: var(--baseline);
    --spacing-04: 0.75rem;
    --spacing-05: 1rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;
    --spacing-10: 4rem;
    --spacing-11: 5rem;
    --spacing-12: 6rem;
    --spacing-13: 10rem;

    /* Theme*/
    --background__layer1: var(--grey-5);
    --background__layer2: var(--grey-10);
    --background__layer3: var(--grey-15);
    --background__layer4: var(--grey-20);
    --background__brand: var(--brand);
    --background__brand-alt: var(--brand-25);
    --color__normal: var(--grey-95);
    --color__soft: var(--grey-85);
    --color__light: var(--grey-75);
    --color__ctabuttoncolor: var(--grey-95);
    --background__layer1backdrop: var(--grey-5-50);
    --scrollbar__background: var(--grey-20);

    /* Font styles*/
    --font-mono: Google Sans Code, sans-serif;
    --font-sans-serif: Google Sans Flex, sans-serif;

    --heading-h1__font-size: var(--typescale-12);
    --heading-h1__font-weight: 400;
    --heading-h1__line-height: var(--spacing-10);

    --heading-h2__font-size: var(--typescale-7);
    --heading-h2__font-weight: 400;
    --heading-h2__line-height: var(--spacing-07);

    --heading-subtitle__font-size: var(--typescale-6);
    --heading-subtitle__font-weight: 400;
    --heading-subtitle__line-height: var(--spacing-07);

    --body-regular__font-size: var(--typescale-3);
    --body-regular__font-weight: 400;
    --body-regular__line-height: var(--spacing-06);

    --body-large__font-size: var(--typescale-5);
    --body-large__font-weight: 400;
    --body-large__line-height: var(--spacing-07);

    --body-small__font-size: var(--typescale-2);
    --body-small__font-weight: 400;
    --body-small__line-height: var(--spacing-05);

    --body-small-mono__font-size: var(--typescale-2);
    --body-small-mono__font-weight: 400;
    --body-small-mono__line-height: var(--spacing-05);

    --body-regular-mono__font-size: var(--typescale-3);
    --body-regular-mono__font-weight: 400;
    --body-regular-mono__line-height: var(--spacing-06);

    --body-large-mono__font-size: var(--typescale-5);
    --body-large-mono__font-weight: 400;
    --body-large-mono__line-height: var(--spacing-07);

    --heading-h1: var(--heading-h1__font-weight)
        var(--heading-h1__font-size)/var(--heading-h1__line-height)
        var(--font-sans-serif);
    --heading-h1-mono: var(--heading-h1__font-weight)
        var(--heading-h1__font-size)/var(--heading-h1__line-height)
        var(--font-mono);
    --heading-h2: var(--heading-h2__font-weight)
        var(--heading-h2__font-size)/var(--heading-h2__line-height)
        var(--font-sans-serif);
    --heading-subtitle: var(--heading-subtitle__font-weight)
        var(--heading-subtitle__font-size)/var(--heading-subtitle__line-height)
        var(--font-sans-serif);

    --body-large: var(--body-large__font-weight)
        var(--body-large__font-size)/var(--body-large__line-height)
        var(--font-sans-serif);
    --body-regular: var(--body-regular__font-weight)
        var(--body-regular__font-size)/var(--body-regular__line-height)
        var(--font-sans-serif);
    --body-small: var(--body-small__font-weight)
        var(--body-small__font-size)/var(--body-small__line-height)
        var(--font-sans-serif);

    --body-large-mono: var(--body-large-mono__font-weight)
        var(--body-large-mono__font-size)/var(--body-large-mono__line-height)
        var(--font-mono);
    --body-regular-mono: var(--body-regular-mono__font-weight)
        var(--body-regular-mono__font-size)/var(
            --body-regular-mono__line-height
        )
        var(--font-mono);
    --body-small-mono: var(--body-small-mono__font-weight)
        var(--body-small-mono__font-size)/var(--body-small-mono__line-height)
        var(--font-mono);

    --transition-duration: 300ms;
    --transition-easing: cubic-bezier(0.25, 0.1, 0.25, 1);
    --animation-duration: 600ms;
    --short-animation-duration: 300ms;
    --dialog-animation-duration: 300ms;
    --dialog-animation-easing: cubic-bezier(0.25, 0.1, 0.25, 1);
    --dialog-animation-easing-out: ease-in;
    --dialog-animation-easing-in: ease-out;
    --large-animation-duration: 600ms;
    --large-animation-easing: cubic-bezier(0.25, 0.1, 0.25, 1);

    color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background__layer1: var(--grey-95);
        --background__layer2: var(--grey-90);
        --background__layer3: var(--grey-85);
        --background__layer4: var(--grey-80);
        --background__brand: var(--brand);
        --background__brand-alt: var(--brand-60);
        --color__normal: var(--grey-5);
        --color__soft: var(--grey-15);
        --color__light: var(--grey-25);
        --color__ctabuttoncolor: var(--grey-95);
        --background__layer1backdrop: var(--grey-95-50);
        --scrollbar__background: var(--grey-80);
    }
}
[data-theme="dark"] {
    color-scheme: dark;
    --background__layer1: var(--grey-95);
    --background__layer2: var(--grey-90);
    --background__layer3: var(--grey-85);
    --background__layer4: var(--grey-80);
    --background__brand: var(--brand);
    --background__brand-alt: var(--brand-60);
    --color__normal: var(--grey-5);
    --color__soft: var(--grey-15);
    --color__light: var(--grey-25);
    --color__ctabuttoncolor: var(--grey-95);
    --background__layer1backdrop: var(--grey-95-50);
    --scrollbar__background: var(--grey-80);
}
[data-theme="light"] {
    color-scheme: light;
    --background__layer1: var(--grey-5);
    --background__layer2: var(--grey-10);
    --background__layer3: var(--grey-15);
    --background__layer4: var(--grey-20);
    --background__brand: var(--brand);
    --background__brand-alt: var(--brand-25);
    --color__normal: var(--grey-95);
    --color__soft: var(--grey-85);
    --color__light: var(--grey-75);
    --color__ctabuttoncolor: var(--grey-95);
    --background__layer1backdrop: var(--grey-5-50);
    --scrollbar__background: var(--grey-20);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--background__layer1);
    color: var(--color__normal);
    font: var(--body-regular);
    scroll-behavior: smooth;
    scroll-padding-block: var(--spacing-07);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font: var(--heading-h1);
}
h2 {
    font: var(--heading-h2);
}
main {
    max-width: 75rem;
    margin: 0 auto;
    padding-inline: var(--spacing-06);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-09);
    flex-grow: 1;
}
img {
    max-width: 100%;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: var(--radius-m);
    background-color: var(--background__layer2);
    color: var(--color__normal);
    cursor: pointer;
}
.error-heading {
    font: var(--heading-h1-mono);
}
.category {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-05);
    animation: fadeIn var(--large-animation-duration)
        var(--large-animation-easing);
}
.icon,
.icon svg {
    width: 1rem;
    height: 1rem;
    color: var(--color__normal);
    stroke: currentColor;
}
.icon--hidden {
    display: none;
}
.button {
    background-color: var(--background__layer2);
    color: var(--color__normal);
    border: none;
    padding-block: var(--spacing-04);
    padding-inline: var(--spacing-06);
    border-radius: var(--radius-m);
    cursor: pointer;
    display: flex;
    gap: var(--spacing-03);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration)
        var(--transition-easing);
    &:hover {
        background-color: var(--background__layer3);
    }
}
.button--layer3 {
    background-color: var(--background__layer3);
    &:hover {
        background-color: var(--background__layer4);
    }
}
.button--primary {
    background-color: var(--background__brand);
    color: var(--color__ctabuttoncolor);
    & .icon {
        color: var(--color__ctabuttoncolor);
    }
    &:hover {
        background-color: var(--background__brand-alt);
    }
}
.button--full-width {
    flex-grow: 1;
}

.lucide-moon {
    transform-origin: bottom right;
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing);
    animation: rotateIn var(--short-animation-duration) var(--transition-easing);
}
.lucide-sun {
    animation: scaleIn var(--short-animation-duration) var(--transition-easing);
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
    & .path1,
    .path2,
    .path3,
    .path4,
    .path5,
    .path6,
    .path7,
    .path8,
    .circle {
        transform-origin: center;
        transition:
            transform var(--transition-duration) var(--transition-easing),
            rotate var(--transition-duration) var(--transition-easing),
            scale var(--transition-duration) var(--transition-easing);
    }
}

.lucide-globe {
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
}
.lucide-download {
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
    & .arrow,
    .arrow-head,
    .tray {
        transform-origin: bottom center;
        transition:
            transform var(--transition-duration) var(--transition-easing),
            rotate var(--transition-duration) var(--transition-easing),
            scale var(--transition-duration) var(--transition-easing);
    }
}
.lucide-arrow-right {
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
}
.lucide-external-link-icon {
    overflow: visible;
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
    & .arrow,
    .arrow-head,
    .box {
        transform-origin: bottom left;
        transition:
            transform var(--transition-duration) var(--transition-easing),
            rotate var(--transition-duration) var(--transition-easing),
            scale var(--transition-duration) var(--transition-easing);
    }
}
.lucide-linkedin,
.lucide-linkedin .n,
.lucide-linkedin .i-base,
.lucide-linkedin .i-circle {
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
    transform-origin: bottom center;
    overflow: visible;
    animation-fill-mode: both;
}
.lucide-mail,
.lucide-mail .rectangle,
.lucide-mail .top-envelope {
    transition:
        transform var(--transition-duration) var(--transition-easing),
        rotate var(--transition-duration) var(--transition-easing),
        scale var(--transition-duration) var(--transition-easing);
    transform-origin: bottom center;
    overflow: visible;
}
.lucide-mail .top-envelope {
    transform-origin: center;
}
.booped .lucide-download {
    & .arrow {
        transform: translateY(3px);
    }
    & .arrow-head {
        transform: translateY(3px);
    }
    & .tray {
        transform: scaleX(1.1);
    }
}
.booped .lucide-linkedin {
    .i-base {
        animation: i-base var(--animation-duration) var(--transition-easing);
        /*transform: scaleY(0.9);*/
    }
    .i-circle {
        /*transform: translateY(-5px);*/
        animation: i-circle var(--animation-duration) var(--transition-easing);
    }
    .n {
        animation: n var(--animation-duration) var(--transition-easing);
    }
}
@keyframes i-base {
    0% {
        transform: scaleY(1);
    }
    35% {
        transform: scaleY(1);
    }
    65% {
        transform: scaleY(0.9);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes i-circle {
    0% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(-5px);
    }
    /*70% {
        transform: translateY(0px);
    }*/
    65% {
        transform: translateY(2.5px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes n {
    35% {
        transform: scaleY(1);
    }
    65% {
        transform: scaleY(0.95);
    }
    100% {
        transform: scaleY(1);
    }
}
.booped .lucide-mail {
    transform: scaleY(0.8) scaleX(1.1);
}
.booped .lucide-external-link-icon {
    & .arrow {
        transform: translate(2px, -2px);
    }
    & .arrow-head {
        transform: translate(2px, -2px);
    }
    & .box {
        scale: 0.9;
    }
}
.booped .lucide-arrow-right {
    transform: translateX(5px);
}
.booped .lucide-sun {
    --distance: 1px;
    scale: 1.1;
    & .circle {
        scale: 0.85;
    }
}
.booped .lucide-moon {
    rotate: 45deg;
}
.booped .lucide-globe {
    scale: 1.1;
}

.no-transition .button {
    transition: none !important;
}
@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes rotateIn {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (width <= 30rem) {
    .button-container {
        & .boop {
            flex-grow: 1;
        }
    }
    .hero__actions {
        & .boop {
            flex-grow: 1;
        }
    }
}

select:open::picker-icon {
    rotate: 135deg;
}
.language-select {
    min-width: 20ch;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 0.5rem;
    background-color: var(--background__layer2);
    color: var(--color__normal);
    overflow: visible;
    gap: var(--spacing-05);
    border-radius: var(--radius-m);
    &::picker-icon {
        content: "";
        display: inline-flex;
        width: 0.5rem;
        height: 0.5rem;
        overflow: visible;
        margin-right: var(--spacing-02);
        z-index: 2;
        border-bottom: 2px solid var(--color__normal);
        border-left: 2px solid var(--color__normal);
        transform-origin: center;
        transform: translateX(3px);

        rotate: -45deg;
        transition: rotate var(--transition-duration) var(--transition-easing);
    }
    &,
    &::picker(select) {
        appearance: base-select;
        color: var(--color__normal);
        border: none;
        border-radius: var(--radius-m);
    }
    &::picker(select) {
        background-color: var(--background__layer2);
    }
    option {
        padding: var(--spacing-03);
        padding-inline-start: var(--spacing-09);
        &::checkmark {
            content: none;
        }
        &:hover {
            background: var(--background__layer4);
        }
        &:focus {
            background: var(--background__layer3);
        }
        &:focus-visible {
            border: 1px solid white;
            border-radius: var(--radius-m);
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition-duration: 0s !important;
        --animation-duration: 0s !important;
        --dialog-animation-duration: 0s !important;
        --short-animation-duration: 0s !important;
        --large-animation-duration: 0s !important;
        transition: none !important;
        animation: none !important;
    }
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}
