---
import Layout from "../layouts/Layout.astro";
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
const localizedStrings = await import(
    `../locales/${currentLocale}/general.json`
);
const { ServerErrorMessage, ServerErrorButton } = localizedStrings;
---

<Layout>
    <div class="error-container">
        <h1 class="error-heading">500 Internal Server Error</h1>
        <p>
            {ServerErrorMessage}
        </p>
        <a href="/" class="button">{ServerErrorButton}</a>
    </div>
</Layout>

<style>
    .error-container {
        margin: 0 auto;
        max-width: 80ch;
        text-align: center;
        padding-block: var(--spacing-13);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-07);
        animation: fadeIn var(--large-animation-duration)
            var(--large-animation-easing);
    }
</style>
