---
const { borderRadius, timing = 300 } = Astro.props;
---

<span
    class="boop"
    data-timing={timing}
    style={`border-radius: ${borderRadius ? borderRadius : "0"};`}
>
    <slot />
</span>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const boopElements = document.querySelectorAll(".boop");
        boopElements.forEach((element) => {
            element.addEventListener("mouseenter", () => {
                element as HTMLElement;
                const timing =
                    Number((element as HTMLElement).dataset.timing) || 300;
                console.log("timing: " + timing);
                if (element.classList.contains("booped")) {
                    return;
                }
                if (
                    window.matchMedia("(prefers-reduced-motion: reduce)")
                        .matches
                ) {
                    return;
                }
                const timeoutId = window.setTimeout(() => {
                    element.classList.toggle("booped");
                }, timing);
                element.classList.toggle("booped");
            });
        });
    });
</script>
<style>
    .boop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
