---
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
import Boop from "./Boop.astro";
---

<Boop>
    <label for="language-select" class="select-container">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-globe-icon lucide-globe icon"
            ><circle cx="12" cy="12" r="10"></circle><path
                d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path
                d="M2 12h20"></path></svg
        >
        <select
            class="language-select"
            name="language-select"
            id="language-select"
            aria-label="Language Select"
        >
            <button>
                <selectedcontent></selectedcontent>
                <span class="arrow"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-chevron-down-icon lucide-chevron-down"
                        ><path d="m6 9 6 6 6-6"></path></svg
                    ></span
                >
            </button>
            <option value="en" selected={currentLocale === "en"}>English</option
            >
            <option value="nl" selected={currentLocale === "nl"}
                >Nederlands</option
            >
        </select>
    </label>
</Boop>
<script>
    const init = () => {
        const select = document.getElementById(
            "language-select",
        ) as HTMLSelectElement;
        if (select) {
            select.addEventListener("change", () => {
                const selectedLanguage = select.value;
                const url = new URL(window.location.href);
                url.hash = "";
                const restOfUrl = url.pathname
                    .split("/")
                    .filter((part) => part !== "")
                    .slice(1)
                    .join("/");
                url.pathname = `/${selectedLanguage}/${restOfUrl}`;
                window.location.href = url.toString();
            });
        }
    };

    document.addEventListener("DOMContentLoaded", init);
</script>
<style>
    .lucide-globe {
        position: absolute;
        left: var(--spacing-05);
        pointer-events: none;
    }
    .select-container {
        view-transition-name: language-select;
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--spacing-05);
    }
    select {
        border: none;
        cursor: pointer;
        color: var(--color__normal);
        min-height: var(--spacing-08);
        border-radius: var(--radius-m);
        padding-block: var(--spacing-03);
        padding-inline-start: var(--spacing-09);
        background-color: var(--background__layer2);
        border-right: var(--spacing-05) solid var(--background__layer2);
        font: var(--body-small);
        transition:
            background-color var(--transition-duration) var(--transition-easing),
            border-color var(--transition-duration) var(--transition-easing);
        &:hover {
            background-color: var(--background__layer3);
            border-color: var(--background__layer3);
        }
    }
</style>
