---
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
import DarkModeToggle from "./DarkModeToggle.astro";
import LanguageSelect from "./LanguageSelect.astro";
---

<nav>
    <a href={`/${currentLocale}`} class="navlink">Home</a>
    <div class="actions">
        <LanguageSelect />
        <DarkModeToggle />
    </div>
</nav>
<style>
    nav {
        padding: var(--spacing-05);
        padding-block-end: var(--spacing-07);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-05);
    }
    .actions {
        display: flex;
        gap: var(--spacing-05);
        justify-content: center;
    }
    .navlink {
        font: var(--body-large-mono);
        text-decoration: none;
        color: var(--color-normal);
    }
    .navlink:hover {
        text-decoration: underline;
    }
</style>
