---
import "../styles/global.css";
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Maarten Schaep Portfolio</title>
    </head>
    <body>
        <NavBar />
        <main>
            <Hero />
            <slot />
        </main>
        <Footer />
    </body>
</html>
