---
import "../styles/global.css";
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body>
        <nav>
            <select name="language-select" id="language-select">
                <option value="en" selected={currentLocale === "en"}
                    >English</option
                >
                <option value="nl" selected={currentLocale === "nl"}
                    >Nederlands</option
                >
            </select>
        </nav>
        <slot />
    </body>
</html>

<script>
    const init = () => {
        const select = document.getElementById(
            "language-select",
        ) as HTMLSelectElement;
        if (select) {
            select.addEventListener("change", () => {
                const selectedLanguage = select.value;
                const url = new URL(window.location.href);
                const restOfUrl = url.pathname
                    .split("/")
                    .filter((part) => part !== "")
                    .slice(1)
                    .join("/");
                url.pathname = `/${selectedLanguage}/${restOfUrl}`;
                window.location.href = url.toString();
            });
        }
    };

    document.addEventListener("DOMContentLoaded", init);
</script>
